
.container-filtro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 120px;
    position: relative;
    right: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.cont-valor{
    width: 193px;
    height: 28px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 1px;
    padding: 5px;
    font-size: 1rem;
}

#valor {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: #fff;
}

.btn-filtro {
    background-color: rgba(143, 103, 224, 0.2);
    border: 10px;
    position: absolute;
    right: 35;
    top: 20;
    width: 70px;
    border: thin solid gray;
    padding: 10px;
}

.checkbox{
    color: #fff;
    font-size: 1rem;
    padding: 5px;
}

.game-list {
    left: 85;
    position: bottom;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: #ddd;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: #ddd;
}
.game-item {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu {
    position: relative;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(253, 247, 247);
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0 10px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

.menu:hover .menu-content {
    display: block;
}

.edit-button{
    color: rgb(0, 89, 255);
    background-color: transparent;
    border: rgb(0, 255, 55);
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
}


.delete-button {
    color: rgb(255, 51, 0);
    background-color: transparent;
    border: rgb(0, 255, 55);
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
}

.edit-button:hover,
.delete-button:hover {
    text-decoration: underline;
}

.delete-button {
    color: #f00;
}