
.contenedor-inftema{
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    width:65%;
    height: 600px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.formulario{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    color: #fff;
    margin-bottom: 40px;
}

.formulario__grupo-input{
    height: 53px; 
    width: 204px;
    overflow: hidden;
}

.formulario__grupo-input input{
    color: #fff;
    overflow: hidden;
    padding: 3px;
    margin-top: 4px;
    background-color: rgb(43, 101, 150);
    border-radius: 30px;
    text-align: left;
    font-size: 1rem;
    height: 45px;
    border: 1px solid #ccc;
}

.formulario__grupo textarea{
    width: 600px;
    height: 200px;
    background-color: rgb(43, 101, 150);
    padding: 20px 14px;
    margin-bottom: 25px;
    border-color: #fff;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    max-width: 600px;
    max-height: 200px;
    margin-top: 4px;
}

li {
    list-style: none;
}

.footer-item-label {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
    
}

.item-select {
    background-color: rgb(43, 101, 150);
    color: #fff;
    width: 204px;
    height: 47px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1rem;
    margin-top: 2px;
}

label{
    color:#fff;
    padding: 5px;
    font-size: 20px;

}

::placeholder{
    color: #fff;
    font-size: 17px;
}

:focus{
    outline: lpx solid #25d97c;
}
button{
    background-color: #4fb2fe;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}