<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Conoce tu pep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Contraseña.css' ) }}">
</head>

<body>

    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
            
        </div>

        <div class="formulario">
            <div class="texto-formulario">
                <h2 src="{{ url_for('static', filename='static/img/LoginyRegistro/bh.jpg') }}"> 
            </div>
            
            <div class="input">
                <label for="Email">Email</label>
                <input placeholder="" type="text" id="email" name="email">                 
            </div>

            <div class="input">
                <label for="contraseña">Contraseña nueva</label>
                <input placeholder="" type="password" id="contraseña" name="contraseña">                 
            </div>
            <div class="input">
                <label for="contraseña">Confirmar Contraseña nueva</label>
                <input placeholder="" type="password" id="contraseñaf" name="contraseñaf">                 
            </div>
            <button type="submit" class="btn" onclick="actualizarC()" >Actualizar</button>
            
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename ='js/contraseña.js')}}"></script>
</body>

</html>