{% extends "layout.html" %} {% block body %}
<style>
    body.default-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<!-- barra de busqueda-->
<h2>Todos los Temas</h2>
<div class="container-filtro">
    <form action="javascript:void(0);" id="busquedaForm">
        <h4>Filtrar por pregunta</h4>
        <input type="text" id="valor" aling="right" placeholder="ingresa una pregunta creada"><br>
        <br> <button type="submit" class="btn-filtro">Buscar</button>
    </form>
    <table>
        <tbody id="cuerpo"></tbody>
    </table>
    <br> <!-- checkbox-->
    <div class="desplegable">
        <h3>Creados Por Mi</h3> <input type="checkbox" class="checkbox">
    </div>

</div>

<div class="game-list">
    <div class="game-list">
        <div class="game-item">
            <h3>Juego 1</h3>
            <div class="menu">
                <button class="menu-button">&#8285</button>
                <div class="menu-content">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
        <div class="game-item">
            <h3>Juego 2</h3>
            <div class="menu">
                <button class="menu-button">&#8285</button>
                <div class="menu-content">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
        <div class="game-item">
            <h3>Juego 3</h3>
            <div class="menu">
                <button class="menu-button">&#8285</button>
                <div class="menu-content">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}