<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/diseño.css' ) }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="bubbles">
      <span style="--i:11"></span>
      <span style="--i:12"></span>
      <span style="--i:24"></span>
      <span style="--i:10"></span>
      <span style="--i:14"></span>
      <span style="--i:23"></span>
      <span style="--i:18"></span>
      <span style="--i:16"></span>
      <span style="--i:19"></span>
      <span style="--i:20"></span>
      <span style="--i:22"></span>
      <span style="--i:25"></span>
      <span style="--i:18"></span>
      <span style="--i:21"></span>
      <span style="--i:15"></span>
      <span style="--i:26"></span>
      <span style="--i:17"></span>
      <span style="--i:13"></span>
      <span style="--i:28"></span>
      <span style="--i:15"></span>
      <span style="--i:25"></span>
      <span style="--i:21"></span>
      <span style="--i:12"></span>
      <span style="--i:16"></span>
      <span style="--i:11"></span>
      <span style="--i:12"></span>
      <span style="--i:24"></span>
      <span style="--i:10"></span>
      <span style="--i:14"></span>
      <span style="--i:23"></span>
      <span style="--i:18"></span>
      <span style="--i:16"></span>
      <span style="--i:19"></span>
      <span style="--i:20"></span>
      <span style="--i:22"></span>
      <span style="--i:25"></span>
      <span style="--i:18"></span>
      <span style="--i:21"></span>
      <span style="--i:15"></span>
      <span style="--i:26"></span>
      <span style="--i:17"></span>
      <span style="--i:13"></span>
      <span style="--i:28"></span>
      <span style="--i:15"></span>
      <span style="--i:25"></span>
      <span style="--i:21"></span>
      <span style="--i:12"></span>
      <span style="--i:16"></span>
      <span style="--i:11"></span>
      <span style="--i:12"></span>
      <span style="--i:24"></span>
      <span style="--i:10"></span>
      <span style="--i:14"></span>
      <span style="--i:23"></span>
      <span style="--i:18"></span>
      <span style="--i:16"></span>
      <span style="--i:19"></span>
      <span style="--i:20"></span>
      <span style="--i:22"></span>
      <span style="--i:25"></span>
      <span style="--i:18"></span>
      <span style="--i:21"></span>
      <span style="--i:15"></span>
      <span style="--i:26"></span>
      <span style="--i:17"></span>
      <span style="--i:13"></span>
      <span style="--i:28"></span>
      <span style="--i:15"></span>
      <span style="--i:25"></span>
      <span style="--i:21"></span>
      <span style="--i:12"></span>
      <span style="--i:16"></span>

    </div>

    <div class="quiz-container">
      <div class="top">
        <h1 id="txtpregunta"></h1>
        <!-- <textarea id="textbox2" name="pregunta" readonly>Aqui va la pregunta</textarea> -->
      </div>

      <div class="middle">
        <div><a class="btn btn1" id="respa" onclick="validaresp(this)"></a></div>
        <div><a class="btn btn2" id="respb" onclick="validaresp(this)"></a></div>
        <div> <a class="btn btn3" id="respc" onclick="validaresp(this)"></a></div>
        <div><a class="btn btn4" id="respd" onclick="validaresp(this)"></a></div>
      </div>
      <div class="volverbtn"><a href="/jugando" class="btn volver" name="volver">volver</a> </div>
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", function () {
        tpregunta();
        tee();
      });
    </script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename ='js/preguntasyresp.js')}}"></script>
    
</body>

</html>