<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugando</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jugando.css' ) }}">  
</head>

<body>
    <a href="/menuPrincipal" class="btn_volver" style="--clr:#96feec">
        <span>Volver</span><i></i>
    </a>
    <div class="padre">
        
        <div class="item1">
            <a href="#" id="btn_open1">      
                <img src="/static/img/JugandoImg/Lost/nivel1Lost.png" class="imgEsfera" id="imgChange1" alt="boton 1">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container1" id="popUp1">
                <div class="level1">
                    <img src="/static/img/JugandoImg/imgModal/nivel1Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar1" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar1" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>

        
        <div class="item2">
            <a href="#" id="btn_open2">      
                <img src="/static/img/JugandoImg/Lost/nivel2Lost.png" class="imgEsfera" id="imgChange2" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container2" id="popUp2">
                <div class="level2">
                    <img src="/static/img/JugandoImg/imgModal/nivel2Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar2" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar2" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item3">
            <a href="#" id="btn_open3">      
                <img src="/static/img/JugandoImg/Lost/nivel3Lost.png" class="imgEsfera" id="imgChange3" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container3" id="popUp3">
                <div class="level3">
                    <img src="/static/img/JugandoImg/imgModal/nivel3Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar3" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar3" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item4">
            <a href="#" id="btn_open4">      
                <img src="/static/img/JugandoImg/Lost/nivel4Lost.png" class="imgEsfera" id="imgChange4" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container4" id="popUp4">
                <div class="level4">
                    <img src="/static/img/JugandoImg/imgModal/nivel4Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar4" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar4" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item5">
            <a href="#" id="btn_open5">      
                <img src="/static/img/JugandoImg/Lost/nivel5Lost.png" class="imgEsfera" id="imgChange5" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container5" id="popUp5">
                <div class="level5">
                    <img src="/static/img/JugandoImg/imgModal/nivel5Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar5" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar5" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item6">
            <a href="#" id="btn_open6">      
                <img src="/static/img/JugandoImg/Lost/nivel6Lost.png" class="imgEsfera" id="imgChange6" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container6" id="popUp6">
                <div class="level6">
                    <img src="/static/img/JugandoImg/imgModal/nivel6Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar6" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar6" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item7">
            <a href="#" id="btn_open7">      
                <img src="/static/img/JugandoImg/Lost/nivel7Lost.png" class="imgEsfera" id="imgChange7" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container7" id="popUp7">
                <div class="level7">
                    <img src="/static/img/JugandoImg/imgModal/nivel7Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar7" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar7" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item8">
            <a href="#" id="btn_open8">      
                <img src="/static/img/JugandoImg/Lost/nivel8Lost.png" class="imgEsfera" id="imgChange8" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container8" id="popUp8">
                <div class="level8">
                    <img src="/static/img/JugandoImg/imgModal/nivel8Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar8" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar8" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item9">
            <a href="#" id="btn_open9">      
                <img src="/static/img/JugandoImg/Lost/nivel9Lost.png" class="imgEsfera" id="imgChange9" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container9" id="popUp9">
                <div class="level9">
                    <img src="/static/img/JugandoImg/imgModal/nivel9Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar9" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar9" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item10">
            <a href="#" id="btn_open10">      
                <img src="/static/img/JugandoImg/Lost/nivel10Lost.png" class="imgEsfera" id="imgChange10" alt="">
            </a>
            <img src="/static/img/JugandoImg/baseNivel.png" class="imgBase" alt="">

            <div class="modal_container10" id="popUp10">
                <div class="level10">
                    <img src="/static/img/JugandoImg/imgModal/nivel10Modal.jpg" class="img_modal" alt="">
                    <h4>En este nivel aprenderas cosas basicas sobre el PEP <br>
                        No hay que olvidar poner el cierre a cada elemento utilizado.
                    </h4>
                    <a id="btn_cerrar10" class="btn_modal_cerrar" style="--clr:#96feec">
                        <span>Cerrar</span><i></i>
                    </a>
                    <a href="/frquestions" id="btn_jugar10" class="btn_modal_jugar" style="--clr:#96feec">
                        <span>Jugar</span><i></i>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <script src="{{url_for('static', filename ='js/jugando.js')}}"></script>

</body>
</html>