{% extends "layout.html" %} {% block body %}
<body>
    <div class="contenedor-nivel" id="contenedor-nivel">
        <h1>Crear Nivel</h1>
        <div class="formulario-nivel">
            <div class="formulario__nivel" id="formulario__nivel">
                <label for="nivel" class="formulario__label">Nombre Nivel</label>
                <div class="nivel_input">
                    <input type="text"  id="nivel_input2" placeholder="Ingrese el nivel">
                </div>
            </div>
        </div>
        <div>
            <button type="submit" onclick="saveNivel()" class="btton2">
                Enviar
            </button>
        </div>

    </div>
</body>
{% endblock %}